html {
	height: 100%;
}

body {
	background: #DDDDDD;
	color: #000000;
	font-family: Libre Baskerville;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.7em;
    height: 100%;
    padding: 0;
    margin: 0;
}

.content {
	background-color: #FFFFFF;
	width: 80%;
	height: 100%;
	margin: auto;
}

.audio-selection-section {
	margin-top: 20px;
	float: right;
}

#test-id-input {
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin-right: 20px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 50px;
	margin-right: 20px;
	width: 280px;
}

select#audio-selector {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(../resources/images/selection-drop.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 20px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 300px;
}

.button {
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	transition: all 0.5s;
	cursor: pointer;
}

.button-section {
	clear: both;
	display: inline;
	width: 100px;
}

.save {
	background-color: #064588;
	width: 125px;
	margin: 20px 0px 0px 20px;
}

.upload {
	background-color: #064588;
	/*font-size: 25px;*/
	width: 125px;
	margin: 20px 0px 0px 20px;
}

.load {
	background-color: #f4511e;
	float: right;
	width: 100px;
	margin: 0px 25px 20px 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.play-section #pp-button {
	background-color: #2ECC40;
	color: #fff;
	font-size: 100px;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	text-align: center;
	border-radius: 50%;
    outline: none;
}

.play-section #pp-button i {
	line-height: 200px;
}

.play-section .pause i {
	margin-left: 20px;
}

#info-section {
	position: fixed;
	bottom: 50px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.message {
	font-weight: bold;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
}

.info {
	background: #DFF0D8;
	color: #468847;
}

.warning {
	background: #F2DEDE;
	color: #D9534F;
}

.play-section .playing:before, .play-section .playing:after {
	content: '';
	position: absolute;
	border: 2px solid #2ECC40;
	border-radius: 50%;
	left: -20px;
	right: -20px;
	top: -20px;
	bottom: -20px;
	animation: animate 1.5s linear infinite;
	opacity: 0;
}

.play-section .playing:after{animation-delay: 0.5s}
@keyframes animate {
	0%
	{
		transform: scale(.5);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		transform: scale(1.5);
	}
}